* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
  background: rgb(48, 45, 65);
}
tooltip label {
  color: rgb(217, 224, 238);
}

#custom-MyNoti {
    background: #222436;
    color: #2aa167;

    border-radius: 5px;
    
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px; 
}

#custom-os {
    background: #222436;
    color: #33aadd;

    border-radius: 5px 5px 5px 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;

    border-left: 0px;
    border-right: 0px;
}

#clock {

    background: #222436;
    color: #fab387;

    border-radius: 5px 5px 5px 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#custom-media {
    background: #222436;
    color: #9e9999;
    
    border-radius: 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#window {
    background: #222436;

    border-radius: 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#temperature {
    background: #222436;
    color: #a6e3a1;

    border-radius: 5px;

    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#temperature.critical {
    color: #eba0ac;
}

#battery {
    background: #222436;
    color: #a6e3a1;

    border-radius: 5px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#backlight {
    background: #222436;
    color: #a6e3a1;

    border-radius: 5px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#bluetooth {
    background: #222436;
    color: #34c6eb;

    border-radius: 5px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#pulseaudio {
    background: #222436;
    color: #34c6eb;

    border-radius: 5px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#pulseaudio.microphone {
    background: #222436;
    color: #34c6eb;

    border-radius: 5px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#tray {
    background: #222436;
    color: #34c6eb;

    border-radius: 0px 5px 5px 0px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#custom-idle {
    background: #222436;
    color: #ff0303;

    border-radius: 5px 0px 0px 5px;
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces {
    background: #222436;

    border-radius: 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#workspaces button {
    padding: 5px;
    /*color: #313244;*/
    color: #a6adc8;
    margin-right: 5px;
}

#workspaces button.visible {
    /*color: #a6adc8;*/
    color: #343742;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button.focused {
    color: #a6adc8;
    /*background: #11111b;*/
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    /*background: #11111b;*/
    /*color: #cdd6f4;*/
    background: #a6e3a1;
    color: #343742;
    border-radius: 5px;
}

