// spawn-at-startup "waybar" "-c" "/home/akira/.config/waybar/config.niri" "-s" "/home/akira/.config/waybar/style.css"
spawn-at-startup "scale"
spawn-at-startup "sh" "-c" "wallpaper < ~/.config/niri/scripts/wallpaper.txt"
// spawn-at-startup "mako"
spawn-at-startup "quickshell"
spawn-at-startup "kwalletd6"
spawn-at-startup "fcitx5" "-d" "-r"
spawn-at-startup "nm-applet"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
// spawn-at-startup "~/.local/scripts/tools/qq.sh"
spawn-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Breeze'"
spawn-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Papirus-Light'"
spawn-at-startup "kbuildsycoca6"
spawn-at-startup "/usr/lib/pam_kwallet_init"

// spawn-at-startup "/home/akira/.config/niri/scripts/fcitx5-fix.sh"

// if start from tty
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
