include "float.kdl"
// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    match namespace="^mpvpaper$"
    place-within-backdrop true
}

// Set transparent workspace background color.
layout {
    background-color "transparent"
}

// global
overview {
    zoom 0.60
    backdrop-color "#777777"
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

prefer-no-csd

window-rule {
    match app-id="firefox"
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id="kitty"
    background-effect {
        blur true
        xray false
    }
}

window-rule {
    match app-id="code"
    background-effect {
        blur true
        xray true
    }
}

layer-rule {
    match namespace="^noctalia-bar-content-.*$"
    // opacity 0.8

    background-effect {
        blur true
        xray false
    }
}
