// global
overview {
    zoom 0.60
    backdrop-color "#777777"
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

prefer-no-csd

// floating
window-rule {
    match app-id="pot"
    match app-id="wpp"
    match app-id=r#".*\.exe$"#
    match app-id="steam_proton"
    match title="plasmashell"
    match app-id="Display"
    match app-id="org.kde.kdenlive"
    open-floating true
}

window-rule {
    match app-id="code"
    open-maximized true
}

// set window size
window-rule {
    match app-id="org.gnome.Calendar"
    open-floating true
    default-column-width { fixed 1200; }
    default-window-height { fixed 700; }
}

window-rule {
    match app-id="org.kde.dolphin"
    open-floating true
    default-column-width { fixed 1020; }
    default-window-height { fixed 620; }
}

window-rule {
    match app-id="org.freedesktop.impl.portal.desktop.kde"
    open-floating true
    default-column-width { fixed 950; }
    default-window-height { fixed 580; }
}

window-rule {
    match title="QQ"
    open-floating true
    default-column-width { fixed 1048; }
    default-window-height { fixed 716; }
}

window-rule {
    match app-id="Typora" title="License Info"
    open-floating true
    default-column-width { fixed 0; }
    default-window-height { fixed 0; }
}

// wechat fix
window-rule {
    match app-id=r#".*\wechat$"#
    open-floating true
    open-focused false
}

// firefox maxmize
window-rule {
    match app-id="firefox"
    open-maximized true
    shadow {
        off
    }
    clip-to-geometry true
    tiled-state true
    draw-border-with-background true
}

