[Unit]
Description=Image clipboard history watcher for Niri
Requisite=niri.service
After=niri.service
PartOf=personal-niri.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-paste --type image --watch /usr/bin/cliphist store
Restart=on-failure
RestartSec=2s
