[Unit]
Description=Mirador mail watcher
Requisite=graphical-session.target
After=graphical-session.target
PartOf=graphical-session.target personal-graphical.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=%h/.cargo/bin/mirador --account Akira watch
Restart=on-failure
RestartSec=10s
