[Unit]
Description=Noctalia shell for Niri
Requisite=niri.service
After=niri.service
PartOf=personal-niri.target

[Service]
Type=simple
Environment=QT_QPA_PLATFORMTHEME=qt6ct
ExecStart=/usr/bin/noctalia
Restart=on-failure
RestartSec=2s
