[Unit]
Description=Waywallen Wallpaper Daemon
Documentation=https://github.com/waywallen/waywallen
PartOf=graphical-session.target personal-graphical.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p %t/waywallen
# ExecStart=/usr/bin/waywallen --ui /usr/bin/waywallen-ui --plugin /usr/share/waywallen
ExecStart=/usr/bin/waywallen --no-ui --plugin /usr/share/waywallen
Restart=on-failure
RestartSec=2s
