#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/home/akira/.local/scripts/mihomo/mihomo_tray.py
MimeType=application/x-python-code
Name=Mihomo
Type=Application
Icon=/home/akira/.local/share/icons/clash.png
