[Desktop Entry]
Version=1.0
Type=Application
Name=OneDrive
Comment=Mount, open and show OneDrive tray
Icon=dotfiles-onedrive
Exec=dotfiles-onedrive --systemd-start
Terminal=false
Categories=Network;X-CloudStorage;
