#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=OneDrive
Comment=Mount and open OneDrive
Icon=ms-onedrive
Exec=/home/akira/.local/scripts/rclone/rclone-onedrive.sh
Terminal=false
Categories=Network;CloudStorage;
