#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=OneDrive
Comment=Mount, open and show OneDrive tray
Icon=ms-onedrive
Exec=/home/akira/.local/scripts/cloud/rclone/onedrive.sh
Terminal=false
Categories=Network;X-CloudStorage;
