* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(239, 240, 241, 0);
    color: #000000;
}

tooltip {
    background: rgb(239, 240, 241);
    border-radius: 5px;
}
tooltip label {
  color: rgb(27, 91, 168);
}

#custom-os {
    background: #eff0f1;
    color: #33aadd;

    border-radius: 5 0 0 5;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;

    border-left: 0px;
    border-right: 0px;
}

#custom-pacman{
    background: #eff0f1;
    color: #2aa167;

    border-radius: 0 0 0 0;

    margin-top: 5px;
    margin-right: 0px; 
}

#custom-MyNoti {
    background: #eff0f1;
    color: #2aa167;

    border-radius: 0 5 5 0;

    margin-top: 5px;
    margin-right: 0px; 
}


#clock {

    background: #eff0f1;
    color: #f28744;

    border-radius: 5px 5px 5px 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#custom-media {
    background: #eff0f1;
    color: #9e9999;

    border-radius: 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#window {
    background: #eff0f1;

    border-radius: 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#temperature {
    background: #eff0f1;
    color: #0c9625;

    border-radius: 5px 0px 0px 5px;

    margin-top: 5px;
    margin-left: 0px;
}

#temperature.critical {
    color: #eba0ac;
}

#battery {
    background: #eff0f1;
    color: #0c9625;

    border-radius: 0px;

    margin-top: 5px;
    margin-left: 0px;
}

#backlight {
    background: #eff0f1;
    color: #0c9625;

    border-radius: 0px 5px 5px 0px;

    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#bluetooth {
    background: #eff0f1;
    color: #5a25cc;

    border-radius: 5px 0px 0px 5px;

    margin-top: 5px;
    margin-left: 0px;
}

#pulseaudio {
    background: #eff0f1;
    color: #5a25cc;

    border-radius: 0px;

    margin-top: 5px;
    margin-left: 0px;
}

#pulseaudio.microphone {
    background: #eff0f1;
    color: #5a25cc;

    border-radius: 0px 5px 5px 0px;

    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#tray {
    background: #eff0f1;
    color: #5a25cc;

    border-radius: 0px 5px 5px 0px;

    margin-top: 5px;
    margin-left: 0px;
    margin-right: 5px;
}

#custom-idle {
    background: #eff0f1;
    color: #ff0303;

    border-radius: 5px 0px 0px 5px;

    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#workspaces {
    background: #eff0f1;

    border-radius: 5px;

    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
}

#workspaces button {
    padding: 5px;
    color: #636675;
    margin-right: 5px;
}

#workspaces button.visible {
    color: #343742;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button.focused {
    color: #a6adc8;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #a6e3a1;
    color: #343742;
    border-radius: 5px;
}

