* {
    border: none;
    border-radius: 4px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

#custom-os,
#custom-pacman,
#custom-theme,
#custom-MyNoti {
    background: #f1f2f3;
    color: #202124;
    transition: all 0.2s ease;
}
#custom-os {
    border-radius: 4px 0 0 4px;
}
#custom-pacman,
#custom-theme {
    border-radius: 0;
}
#custom-MyNoti {
    border-radius: 0 4px 4px 0;
    margin-right: 4px;
}

#clock {
    background: #55c6fe;
    color: #202124;
    border-radius: 4px;
    margin-right: 4px;
}

#workspaces {
    background: #f1f3f4;
    color: #202124;
    border-radius: 4px;
    transition: all 0.2s ease;
    margin-right: 4px;
}
#workspaces button {
    padding: 0 4px;
    margin: 0 2px;
    color: #5f6368;
    background: transparent;
    border-radius: 4px;
    transition: all 0.2s ease;
}
#workspaces button.visible {
    color: #202124;
    background: #e8f0fe;
}
#workspaces button.focused,
#workspaces button.active {
    color: #f1f2f3;
    background: #1a73e8;
}
#workspaces button.urgent {
    color: #f1f2f3;
    background: #d93025;
}
#workspaces button:hover {
    background: #dadce0;
    color: #202124;
}

#custom-media {
    background: #f1f3f4;
    color: #202124;
    border-radius: 4px;
    transition: all 0.2s ease;
}

#custom-media:hover {
    background: #e8f0fe;
    color: #202124;
}

#window,
#temperature,
#battery,
#backlight,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#tray,
#custom-idle {
    background: #f1f3f4;
    color: #202124;
    border-radius: 4px;
    transition: all 0.2s ease;
}

#temperature {
    border-radius: 4px 0 0 4px;
}
#battery {
    border-radius: 0;
}
#backlight {
    border-radius: 0 4px 4px 0;
    margin-right: 4px;
}

#bluetooth {
    border-radius: 4px 0 0 4px;
}
#pulseaudio {
    border-radius: 0;
}
#pulseaudio.microphone {
    border-radius: 0 4px 4px 0;
    margin-right: 4px;
}

#window {
    margin-right: 4px;
    margin-left: 4px;
}

#custom-idle {
    color: #5f6368;
    /* background: rgba(100,100,100,0.6); */
    background: #f1f3f4;
    border-radius: 4px 0px 0px 4px;
    transition: all 0.2s ease;
}
#tray {
    color: #5f6368;
    /* background: rgba(100,100,100,0.6); */
    background: #f1f3f4;
    margin-right: 2px;
    border-radius: 0px 4px 4px 0px;
}
