animations {
    window-open {
        duration-ms 165
        curve "cubic-bezier" 0.0 0.0 0.58 1.0

        custom-shader r"
            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                float p = niri_clamped_progress;
                float scale = mix(0.97, 1.0, p);
                float y_offset = mix(4.0, 0.0, p) / max(size_geo.y, 1.0);

                vec2 sample_geo =
                    (coords_geo.xy - vec2(0.5, 0.5 + y_offset)) / scale + vec2(0.5);
                vec3 coords_tex = niri_geo_to_tex * vec3(sample_geo, 1.0);
                vec4 color = texture2D(niri_tex, coords_tex.st);

                return color * p;
            }
        "
    }

    window-close {
        duration-ms 150
        curve "cubic-bezier" 0.25 0.1 0.25 1.0

        custom-shader r"
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                float p = niri_clamped_progress;
                float scale = mix(1.0, 0.97, p);
                float y_offset = mix(0.0, 4.0, p) / max(size_geo.y, 1.0);

                vec2 sample_geo =
                    (coords_geo.xy - vec2(0.5, 0.5 + y_offset)) / scale + vec2(0.5);
                vec3 coords_tex = niri_geo_to_tex * vec3(sample_geo, 1.0);
                vec4 color = texture2D(niri_tex, coords_tex.st);

                return color * (1.0 - p);
            }
        "
    }

    window-resize {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001

        custom-shader r"
            vec4 resize_color(vec3 coords_curr_geo, vec3 size_curr_geo) {
                vec3 coords_tex_prev = niri_geo_to_tex_prev * coords_curr_geo;
                vec3 coords_tex_next = niri_geo_to_tex_next * coords_curr_geo;
                vec4 color_prev = texture2D(niri_tex_prev, coords_tex_prev.st);
                vec4 color_next = texture2D(niri_tex_next, coords_tex_next.st);

                return mix(color_prev, color_next, niri_clamped_progress);
            }
        "
    }

    window-movement {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
    }

    workspace-switch {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.85 stiffness=1200 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.9 stiffness=900 epsilon=0.005
    }

    screenshot-ui-open {
        duration-ms 170
        curve "cubic-bezier" 0.16 1.0 0.3 1.0
    }

    overview-open-close {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=0.9 stiffness=1000 epsilon=0.001
    }
}
