include "float.kdl"
// global
overview {
    zoom 0.60
    backdrop-color "#777777"
}

window-rule {
    // draw-border-with-background false
    geometry-corner-radius 6
    clip-to-geometry true
}

prefer-no-csd

window-rule {
    match app-id="firefox"
    match app-id="code"
    open-maximized true
}

window-rule {
    match app-id="kitty"
    background-effect {
        blur true
        xray false
    }
}

// Blur the background behind pop-up menus in Nautilus.
window-rule {
    match app-id="dolphin"

    popups {
        // Matches the default libadwaita pop-up corner radius.
        geometry-corner-radius 15

        // Note: it'll look better to set background opacity
        // through your GTK theme CSS and not here.
        // This is just an example that makes it look obvious.
        opacity 0.8

        background-effect {
            blur true
            // Unlike normal windows, popups default to "xray false"
            xray false
        }
    }
}

window-rule {
    match app-id="Codex"
    background-effect {
        blur false
    }
    shadow {
        off
    }
}

