spawn-at-startup "kwalletd6"
spawn-at-startup "/usr/lib/pam_kwallet_init"
spawn-at-startup "/home/akira/.config/niri/scripts/xconfig.sh"

// Long-running session helpers are managed by personal-niri.target.

// spawn-at-startup "xembedsniproxy"
// spawn-at-startup "fcitx5" "-d" "-r"
// spawn-at-startup "kbuildsycoca6"

// if start from tty
// spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
