[user]
	name = AkiraLyu
	email = akira.uestc@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[color]
	ui = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
